<%-include("./partials/header.ejs")%>
<!-- ====================================== -->
<div class="container">
  <div class="row">
      <div class="col-sm-5 bg-blue skyblue" id ="margin-top">
          <h4>Quick Links</h4>
          <ul>
              <li class="border">
                 <a href="/askexperts">Get instant Homework Help</a>
              </li>
              <li class="border">
                 <a href="/onlinetutors">Get online Tutoring</a>
            </li>
            <li class="border">
                 <a href="/elibrary">Get Documents to Study</a>
            </li>
            <li class="border">
                <a href=""> For Parents</a>
            </li>
            <li class="border">
                <a href="/become_atutor"> Become a Tutor</a>
                
            </li>
          </ul>
      </div>
  </div>
</div>

<!-- =============================================== -->
<%-include("./partials/header.ejs")%>