<%-include("./partials/header.ejs")%>
<!-- ====================================== -->
<div class="container container-fluid">
  <div class="row">
      <div class="col-sm-4 bg-blue skyblue" id ="margin-top">
          <h4>Quick Links</h4>
          <ul>
              <li class="border">
                 <a href="/askexperts">Get instant Homework Help</a>
              </li>
              <li class="border">
                 <a href="/onlinetutors">Get online Tutoring</a>
            </li>
            <li class="border">
                 <a href="/documents">Get Documents to Study</a>
            </li>
            <li class="border">
                <a href=""> For Parents</a>
            </li>
            <li class="border">
                <a href="/become_atutor"> Become a Tutor</a>
                
            </li>
          </ul>
      </div>
      <div class="col-sm-4" style="margin-top: 60px;">
        <h3>What We Do</h3>
        <p>New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered. He went such dare good mr fact. The small own seven saved man age ﻿no offer. Suspicion did mrs nor furniture smallness. Scale whole downs often leave not eat. An expression reasonably cultivated indulgence mr he surrounded instrument. Gentleman eat and consisted are pronounce distrusts.
            Folly was these three and songs arose whose. Of in vicinity contempt together in possible branched. Assured company hastily looking garrets in oh. Most have love my gone to this so. Discovered interested prosperous the our affronting insipidity day. Missed lovers way one vanity wishes nay but. Use shy seemed within twenty wished old few regret passed. Absolute one hastened mrs any sensible. </p>
      </div>
      <div class="col-sm-4">
          <div class="thumnails" style="margin-top: 70px;">
              <img width="400" height="470" src="https://images.theconversation.com/files/66794/original/image-20141209-32156-7fef5i.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
          </div>
      </div>
  </div>
</div>

<!-- =============================================== -->
<%-include("./partials/footer")%>